{% load spirit_tags i18n %}
{% load staticfiles %}
<header class="header-top">
    <a href="/">
    <div class="header-left">
        <div class="logo header-cell">
            <img src="{% static 'main_app/images/nacoss.jpg' %}">
        </div>
        <div class="logo header-cell">
            <img src="{% static 'main_app/images/biu.jpg' %}">
        </div>

        <div class="classic header-cell">
            <span>NACOSS</span><span class="side">BIU</span>
        </div>
    </div>
    </a>

    <div class="header-right">
        <!-- <div class="h-icon">
            <img src="glass.png">
        </div>
        <div class="h-icon">
            <img src="squares30.png">   
        </div> -->
        <span>Welcome,</span> 
        {% if user.is_authenticated %}
        <a class="user" href="{% url "spirit:user:detail" user.id user.username %}" data-related=".js-user-content">{{ user.username }}</a>
        <a class="user" href="{% url "spirit:user:auth:logout" %}">(Log out)</a>
        {% else %}
        <a class="user" href="{% url "spirit:user:auth:login" %}">Login</a>
        {% endif %}
    </div>
</header>