<div style="background: #fff;box-shadow: 0 -2px 16px -8px rgba(0, 0, 0, 0.63);">
	<div class="nav">
	    <div class="nav-row">
	        <div class="nav-cell"><a href="{% url 'spirit:index' %}">CSC Forum</a></div>
	        <!-- <div class="nav-cell"><a href="{% url 'main_app:history'%}">Resources</a></div> -->
	        <div class="nav-cell"><a href="{% url 'main_app:team'%}">The Team</a></div>
	        <div class="nav-cell"><a href="{% url 'notice:index_all'%}">Notice Board</a></div>
	        <!-- <div class="nav-cell disabled"><a href="{% url 'spirit:category:detail' 3 'news' %}">Blog</a> Blog (Coming soon)</div> -->
	    </div>
	</div>
</div>
