/*@font-face {
	font-family: "circled";
	src: url(C032800D_0.TTF);
}

@font-face {
	font-family: sans-serif;
	src: url(C026023D_0.TTF);
}*/

/*@font-face {
	font-family: 'CODE';
	src: url('CODE Light.otf');
}
*/
/*@font-face {
	font-family: 'lato';
	src: url('Lato/Lato-Light.ttf');
}*/

@font-face{
	font-family:Ubuntu;
	font-style:normal;
	font-weight:300;
	src:url(../../spirit/stylesheets/vendors/fonts/Ubuntu-300.woff2) format("woff2"),
	    url(../../spirit/stylesheets/vendors/fonts/Ubuntu-300.woff) format("woff")
}

* {
	box-shadow: none !important;
}

a {
	text-decoration: none;
	color: inherit;
}

.header-top {
	z-index: 1000;
	height: 50px;
	padding: 10px 20px;
	line-height: 50px;
	/* position: absolute; */
	width: 100%;
	box-sizing: border-box;
	display: table;
	color: #2B4A58;
	top: 0;
	background: #fff;
	border-top: 2px solid #F4E031;
}

.main_app .header-top {
	/*padding: 15px 12px;*/
}

.header-top .header-cell, .header-left, .header-right, .header-top > a {
  float: left;
  height: inherit;
  line-height: inherit;
  display: block;
  /* margin-right: 16px; */
  /* border-radius: 50%; */
  /* overflow: hidden; */
  color: inherit;
}

.header-top .header-right {
	float: right !important;
}

.logo img {
	height: inherit;
}

.top {
	position: relative;
	/*height: 400px;*/
	/*background: url('../images/79b79d79ac37b788c3f19d57843d12b7.jpg');*/
	background-size: 100% 100%;
	background-color: #3A86AF;
}

.top .wrap {
	background: linear-gradient(319deg,rgba(0, 0, 0, 0.52),rgba(0, 0, 0, 0),rgb(0, 0, 0));
	height: 100%;
	position: absolute;
	width: 100%;
}

.caption {
	position: absolute;
	bottom: 49px;
	left: 26px;
	color: #FFF;
	/* font-family: 'code'; */
	font-weight: bold;
	text-shadow: 0 0 38px #fff;
}

.caption div {
	margin: 10px 0;
}

body.main_app {
	/*background: url(running-5.png);
    background-size: 58%;
    background-repeat: no-repeat;
    background-position: -107px center;*/
	margin: 0;
	font-family: Ubuntu;
	background: #F3F3F3;
	min-height: 100%;
	/* position: relative; */
	padding-bottom: 20px;
	box-sizing: border-box;
}

.classic {
    font-family: Ubuntu;
    font-size: 24px;
    color: #000000;
    font-weight: lighter;
    padding-left: 10px;
    /* background: #fff; */
}

.classic .side {
	color: #0BA9FF;
	border: 1px solid currentColor;
	margin: 0 7px;
	padding: 2px 5px;
}

.blue {
	color: #19d;
}

.right {
	float: right !important;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.glow {
	color: #4E4E4E;
	/* text-shadow: 0 0 3px #FFFFFF, 0 0 5px #0BA9FF; */
}

.timer {
	font-size: 29px;
	font-family: "timer";
	color: #FFFFFF;
}

.logo {
    /* border-radius: 50%; */
    overflow: hidden;
}

.h-icon {
	float: left;
	height: 100%;
	box-sizing: border-box;
	display: none;
}

.h-icon img {
	height: inherit;
	padding: 15px;
	box-sizing: border-box;
}

.user {
	margin-left: 5px;
	text-decoration: none;
	color: inherit;
}

.nav-cell {
	/* float: left; */
	/* padding: 20px; */
	/* margin: -7px 6%; */
	display: table-cell;
	/* width: auto; */
	text-align: center;
	/* border-right: 1px solid #DEDEDE; */
}

.nav-cell:first-child {
	text-align: left;
}

.nav-cell:last-child {
	text-align: right;
}

.nav {
	display: table;
	width: 100%;
	/*background: #fff;*/
	position: relative;
	margin: auto;
	max-width: 1000px;
	/*box-shadow: 0 -2px 21px -8px rgb(0, 0, 0);*/
	font-size: inherit;
	line-height: initial;
}

.nav-row {
	display: table-row;
}

#container {
	max-width: 1000px;
	margin: auto;
	/* position: relative; */
}

footer {
	position/*: absolute;
	bottom: 0*/;
	padding: 10px 20px;
	color: #909090;
	width: 100%;
	box-sizing: border-box;
}

footer a {
	color: inherit;
	margin-left: 16px;
}

.box{
	
padding: 10px;
	
box-sizing: border-box;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.65%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

.col-12 a {
	color: #19d;
}

.headline {
	display: flex;
	background: rgb(255, 255, 255);
	color: #2196F3;
	padding: 2px 22px;
	/* position: absolute; */
	/* bottom: 0; */
	width: 100%;
	box-sizing: border-box;
	font-size: 15px;
	height: 25px;
	line-height: 25px;
	/* text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.53); */
	font-weight: bold;
}


.middle {
	margin-left: 16px;
	margin-right: 16px;
}

.three .card {
	width: 300px;
	float: left;
}

.nav-cell a {
	padding: 20px;*/;
	display: block;
	text-decoration: none;
	color: inherit;
}

.nav-cell a:hover {
	color: #0BA9FF;
}

ul.list {
	list-style: none;
	padding: 0;
	text-align: center;
}

ul.list li {
	/*border-bottom: 1px solid;*/
	font-size: 20px;
}

.table {
	display: table;
	width: 100%;
}

.nav-cell.disabled {
	color: #B3B3B3;
}

.card-holding {
	padding: 24px;
	box-sizing: border-box;
	/* display: flex; */
	display: table;
	width: 100%;
}

.card {
	background: #fff;
	padding: 24px;
	box-shadow: 0px 0px 9px 3px #EEE;
	border-radius: 4px;
	box-sizing: border-box;
}

.heading {
	display: table;
	margin: auto;	
	color: #4E4E4E;
}

.heading .u-line {
	border: 1px solid;
	width: 80%;
	margin: auto;
}

.hidden {display: none;}

.grey {color: #888;}

.title {

}

.subtitle {
	color: rgba(0, 0, 0, 0.65);
	font-size: 83%;
	margin: 6px 0;
}


.three {

}


.three .card {
	margin-bottom: 20px;
}

.block {
	display: block;
}

@media screen and (max-width: 980px) {
	.box {
		width: 100% !important;
	}

	.three .card {
		width: 400px;
	}

	.middle {
		margin-right: 0;
		margin-left: 0;
	}

	.card-holding {
		width: auto;
		margin: auto;
	}
}

.card:hover {
	box-shadow: 0px 0px 9px 3px #EEE !important;
}

.nav-cell a.active {
	border-bottom: 3px solid #F4E031;
}

.nav-cell a {
	border-bottom: 3px solid transparent;
}